<!DOCTYPE HTML>
<html>
	<head>
		<title>BIODIVERSIDAD DE CUNDINAMARCA</title>
		<link rel="stylesheet" href="/static/css/style.css">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">
				<header id="header">
					<h1 alt=""</a>NUESTRA<span><br>BIODIVERSIDAD</span></a></h1>
					<nav id="nav">
						<ul>
							
							<li><a href="/fauna" class="button primary">FAUNA</a></li>
              <li><a href="/flora" class="button primary">FLORA</a></li>
              <li><a href="/inicio" class="button primary">INICIO</a></li>
						</ul>
					</nav>
				</header>
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-mobile-alt"></span>
						
						<p>"Cundinamarca cuenta con dos parques nacionales naturales:  
              Chingaza y Sumapaz, refugio de gran número de especies de fauna y flora. 
              Ambos presentan ecosistemas de páramo, pero el primero presenta un ecosistema de selva andina y subandina, 
              y el segundo tiene representada la zona andina, donde hay franjas de vegetación de bosque altoandino y bosque andino. 
              En el caso de estas dos áreas protegidas se encuentran especies como el venado y la danta de páramo. 
              Y flora como el musgo de pantano y los frailejones".        
       </p>
					</header>
					<a href="#" class="image featured"><img src="static/images/Heliconias 2.webp" width="250px"height="350"/></a>
	
						<section class="wrapper style4 container">

					
								<div class="content">
									<section>
										
									<section>
										<footer>
												<a href="#" class="image featured"><img src="static/images/PAJARO VERDE.jpg" alt="" width="150px"height="450px" /></a>
											</div>
										</footer>
										<header>
											<h3>NUESTRA BIODIVERSIDAD</h3>
										</header>
										<p>"Boyacá es un territorio diverso, con una amplia riqueza de flora y fauna, variedad de aves, todos los pisos térmicos, cinco cuencas hidrográficas,
                      la mayor masa glaciar de Colombia y con un reconocimiento mundial por la producción de valiosas esmeraldas.                
              </p>

              <div class="box"><a href="#" class="image featured"><img src="static/images/frailejon.webp" alt="" width="250px"height="350px"  /></a>
                <div> <a class="btn"href="/Geolocalizacion">GEOLOCALIZACIÒN</a>
       
                </div>
          
          
                 
          </p>
                
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										
										<header>
										</section>
										<section class= "special coniner">
								</div>
								<div class="col-4 col-12-narrower">

								</div>
							</div>
						</section>

				</article>

				<footer id="footer">


					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href=""></a>ESPECIE EMBLEMATICA</li>
					</ul>

				</footer>

		</div>

		
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.dropotron.min.js"></script>
			<script src="/static/js/jquery.scrolly.min.js"></script>
			<script src="/static/js/jquery.scrollgress.min.js"></script>
			<script src="/static/js/jquery.scrollex.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>