<!DOCTYPE HTML>
<html>
	<head>
		<title>LA BIODIVERSIDAD DE BOYACÀ</title>
		<link rel="stylesheet" href="/static/css/style.css">
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<noscript><link rel="stylesheet" href="/images/Mapa Boyacà.png" /></noscript>
	</head>
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">
				<header id="header">
					<nav id="nav">
					<ul>
						<			<li class="current"><a href="/flora">FLORA</a></li>
									<li class="current"><a href="/fauna">FAUNA</a></li>
									<li class="current"><a href="/Geolocalizacion">GEOLOCALIZACIÒN</a></li>
									<li class="current"><a href="/index">NAVEGUE EN LA BIODIVERSIDAD</a></li>
									<li><a href="/inicio" class="button primary">INICIO</a></li>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<article id="main">

					<header class="static/images/Mapa Boyacà.png">
						<span class="static/images/Mapa Cundinamarca.png"></span>
						<h2>NUESTRA RIQUEZA NATURAL</strong></h2>
						<p>Ubicado en el centro del país, Cundinamarca se erige como un verdadero tesoro de biodiversidad en Colombia. 
						Con una variada geografía que va desde las altas montañas de la Cordillera Oriental hasta las fértiles llanuras del altiplano cundiboyacense, 
						esta región ofrece un ecosistema rico y diverso que alberga una amplia gama de flora y fauna.</p>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<div class="row gtr-150">
								<div class="col-8 col-12-narrower">

									<!-- Content -->
										<div class="content">
											<section>
												<a href="#" class="static/images/vacas.webp"><img src="static/images/vacas.webp" alt="" /></a>
												<header>
													<h3>BIODIVERSIDAD CUNDIBOYACENSE</h3>
												</header>
												<p>El altiplano cundiboyacense es una zona de tierras altas y planas ubicada en la cordillera oriental de los Andes, entre los departamentos colombianos de Cundinamarca, Boyacá y el distrito capitalino de Bogotá. Su territorio coincide en gran medida con el antiguo territorio ocupado por los muiscas, una civilización nativa de gran importancia local a la llegada de los españoles en lo que hoy es Colombia.</p>
												<p>El altiplano comprende tres regiones planas muy distinguibles, que son: la sabana de Bogotá, el valle de Ubaté y los valles de Tunja y Sogamoso. Durante las temporadas de invierno, los altiplanos reciben, además de los grandes aportes de las lluvias, el agua que genera la red de drenaje de las vertientes por ríos y quebradas y cumplen una función hidráulica reguladora importante en la recarga de acuíferos y en la amortiguación de crecientes.</p>
												<P>Los ambientes xerófilos o áridos colombianos, tienen condiciones climáticas exclusivas poco 
												características en un país como Colombia, que originalmente estaba cubierto en su mayor parte por 
												vegetación exuberante. Tales ecosistemas áridos o semiáridos son naturales en la costa Caribe 
												presentando dunas costeras y desiertos, y hacia el interior del país, conformados por matorrales 
												xéricos, ocupando enclaves semiáridos como en la Tatacoa, Chicamocha, Patía y algunos en el 
												altiplano cundiboyacense</P>
											</section>
										</div>

								</div>
								<div class="col-4 col-12-narrower">

									<!-- Sidebar -->
										<div class="sidebar">
											<section>
												<header>
													<h3>BOYACÀ</h3>
												</header>
												<p>El departamento de Boyacá presenta una variada y diversa flora, 
													lo cual desemboca en una alta variedad de ecosistemas con zonas de páramo bosque húmedo tropical, 
													piedemonte llanero y bosque andino y altoandino; 
													en los cuales se presume haya una alta diversidad de especies.</p>
												<footer>
													<ul class="buttons">
														<li><a class="button small"href="/boyaca">BOYACÀ</a></li>
													</ul>
												</footer>
											</section>

											<section>
												<a href="#" class="image featured"><img src="static/images/reptil.webp" alt="" /></a>
												<header>
													<h3>CUNDINAMARCA</h3>
												</header>
												<p>EL Departamento de Cundinamarca posee una gran riqueza en recursos naturales; especialmente hídricos, 
												por lo cual en el departamento se encuentran varias reservas naturales como parte del programa de protección ambiental</p>
												<footer>
													<ul class="buttons">
														<li><a class="button small"href="/cundinamarca">CUNDINAMARCA</a></li>
													</ul>
												</footer>
											</section>
										</div>

								</div>
							</div>
						</section>

	
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="col-4 col-12-narrower">

									<section>
										<header>
											<h3>FLORA</h3>
										</header>
										<p>La flora de Boyacá es igualmente impresionante,
											con una amplia variedad de especies de plantas que se encuentran en diferentes altitudes y condiciones climáticas. 
											En los valles y llanuras, puedes encontrar cultivos como el maíz, la papa y el trigo, mientras que en las zonas montañosas hay bosques de robles, encinos y arrayanes, entre otros.</p>
										<footer>
											<ul class="buttons">
												<li><a class="button small"href="/boyaca">BOYACÀ</a></li>
									
											</ul>
										</footer>
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<header>
											<h3>FLORA</h3>
										</header>
										<p>Conserva el Sumapaz el páramo más grande del mundo.
											Tiene 13.136 especies entre plantas, invertebrados, 
											vertebrados, algas, líquenes y hongos. 
											Posee una riqueza natural representada en un total de 2.097.332 hectáreas declaradas como áreas protegidas, 
											algunas de carácter nacional y regional.</p>
										<footer>
											<ul class="buttons">
												<li><a class="button small"href="/cundinamarca">CUNDINAMARCA</a></li>
											</ul>
										</footer>
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<header>
											<h3>FAUNA</h3>
										</header>
										<p>El 24% de áreas de páramo de Colombia se encuentran en el Departamento de Boyacá,
										y el 18.5% en jurisdicción de Corpoboyacá; 
										tienen una altura promedio de 3.000 msnm y su pico más alto se encuentra a 5.493 msnm, 
										en la Sierra Nevada del Cocuy </p>
										<footer>
											<ul class="buttons">
												<li><a class="button small"href="/cundinamarca">CUNDIBOYACENSE</a></li>
												
											</ul>
										</footer>
									</section>

								</div>
							</div>
						</section>

				</article>

			<!-- Footer -->
				<footer id="footer">

					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href=""></a></li>
					</ul>

				</footer>

		</div>

	</body>
</html>