<!DOCTYPE HTML>
<html>
	<head>
		<title>BIODIVERSIDAD DE BOYACÀ</title>
		<link rel="stylesheet" href="/static/css/style.css">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">
				<header id="header">
					<h1 alt=""</a>NUESTRA<span>BIODIVERSIDAD</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="/cundinamarca">BOYACA</a></li>
							<li class="submenu">
								<a href="#">BIODIVERSIDAD</a>
								<ul>
									<li><a href="/fauna">FAUNA</a></li>
									<li><a href="/flora">FLORA</a></li>
									<li><a href="/municipios">MUNICIPIOS</a></li>
									</li>
								</ul>
							</li>
							<li><a href="/inicio" class="button primary">INICIO</a></li>
       
					
						</ul>
					</nav>
				</header>
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-mobile-alt"></span>
						<h2>FLORA Y FAUNA<strong>BOYACÀ</strong></h2>
						<p>"El departamento de Boyacá presenta una variada y diversa flora,
							lo cual desemboca en una alta variedad de ecosistemas con zonas de páramo bosque húmedo tropical, 
							piedemonte llanero y bosque andino y altoandino; 
							en los cuales se presume haya una alta diversidad de especies."</p>
					</header>
					<a href="#" class="image featured"><img src="static/images/laguna.webp" width="250px"height="350px"/></a>
					<a href="#" class="image featured"><img src="/images/Tigrillo.webp" alt="" /></a>
	
						<section class="wrapper style4 container">

					
								<div class="content">
									<section>
										
			
										<header>
											<h3>CLIMA</h3>
										</header>
										<p>Clima <b>Tropical Lluvioso</b> Se caracteriza por altas temperaturas y lluvias la mayor parte del año, con vegetación herbácea matizada con bosques y matorrales a las orillas de los ríos; se encuentra en el Territorio Vásquez y en el piedemonte llanero.</p>
										<p>Boyacá; es un departamento de Colombia que se caracteriza por tener un clima variado debido a su geografía diversa. En general, el clima de Boyacá es fresco y templado, con variaciones dependiendo de la altitud. En las zonas más altas, como en la Sierra Nevada del Cocuy, se pueden experimentar temperaturas frías y nevadas.</p>
										<p>En cuanto a la fauna de Boyacá, este departamento cuenta con una gran diversidad de especies debido a sus diferentes ecosistemas, que van desde páramos hasta bosques tropicales. <br> Algunos de los animales que se pueden encontrar en Boyacá son el oso de anteojos, el cóndor de los Andes, el venado cola blanca, el tigrillo, diversas especies de aves como el colibrí y el águila arpía, entre otros.</p>
									</section>
								</div>
	
						
								</header>
								

									<section>
										<footer>
											<ul class="buttons">
												<li><a href="/fauna" class="button small">FAUNA</a></li>
											</ul>
											<div class="box"><a href="#" class="image featured"><img src="static/images/Gallito de Roca.webp" alt="" width="250px"height="350px"/></a>
												<a href="#" class="image featured"><img src="/images/Tigrillo.webp" alt="" /></a>
											</div>
										</footer>
										<header>
											<h3>NUESTRA FAUNA</h3>
										</header>
										<p>La fauna de Boyacá es igualmente diversa y fascinante, con una variedad de especies que habitan sus diferentes ecosistemas. Algunos de los animales más emblemáticos que se pueden encontrar en Boyacá son:

											<b><i>Oso de anteojos:</i></b> También conocido como oso andino, es una especie de oso nativa de los Andes que se encuentra en peligro de extinción. Es un símbolo de la fauna colombiana.
											
											<b><i>Cóndor de los Andes:</i></b> Una imponente ave rapaz que habita en las zonas montañosas de la región, siendo una especie emblemática de los Andes.
											
											<b><i>Venado cola blanca:</i></b> Un elegante mamífero herbívoro que se encuentra en los bosques de Boyacá y que desempeña un papel importante en el equilibrio de los ecosistemas.
											
											<b><i>Puma:</i></b> Este felino majestuoso es uno de los depredadores tope de la región, contribuyendo a regular las poblaciones de herbívoros.
											
											<b><i>Tigrillo:</i></b> Un felino más pequeño que el puma, pero igualmente ágil y sigiloso, que se encuentra en los bosques y zonas selváticas de Boyacá.
											
											Estos son solo algunos ejemplos de la rica fauna que habita en Boyacá, contribuyendo a la biodiversidad y al valor natural de esta región colombiana.</p>
										
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<footer>
											<ul class="buttons">
												<li><a href="/biodiversidad" class="button small">CLIMA</a></li>
											</ul>
											<a href="#" class="image featured"><img src="static/images/Mapa_temperatura_anual_boyaca.jpg" alt=""width="250px"height="350px" /></a>
										</footer>
										<header>
										</section>
										<section class= "special coniner">
											
											<header>
												<h3>NUESTRO CLIMA</h3>
											</header>
											<p>El clima de Boyacá es variado debido a su geografía diversa que va desde valles fértiles hasta altas montañas. En general, se puede describir como fresco y templado, con variaciones dependiendo de la altitud y la región específica. Algunas características del clima de Boyacá son:
				
												<b><i>1.Temperaturas frescas:</i></b> En las zonas de mayor altitud, como en la Sierra Nevada del Cocuy, las temperaturas pueden ser frías, especialmente durante la noche y en las primeras horas de la mañana.
												
												<b><i>2.Lluvias:</i></b> La temporada de lluvias en Boyacá suele ser entre los meses de abril y noviembre, con precipitaciones que pueden variar según la región y la altitud.
												
												<b><i>3.Variaciones climáticas:</i></b> Debido a su relieve montañoso, Boyacá puede experimentar microclimas, con diferencias significativas de temperatura y precipitación en distancias cortas.
												
												<b><i>4.Estaciones secas y húmedas:</i></b> Aunque no hay una marcada diferencia entre estaciones, se pueden identificar períodos más secos y más húmedos a lo largo del año.
												
												<i>En resumen, el clima de Boyacá es fresco y templado en general, con variaciones según la altitud y la región específica, lo que contribuye a la diversidad de ecosistemas y especies que se encuentran en este departamento de Colombia.</i></p>
											
										</section>

									<section>
										<footer>
											<ul class="buttons">
												<li><a href="/flora" class="button small">FLORA</a></li>
											</ul>
											<a href="#" class="image featured"><img src="static/images/FLORA BOYACA.jpg" alt=""width="250px"height="350px" /></a>
										</footer>
										<header>
											<h3>NUESTRA FLORA</h3>
										</header>
										<p>La flora de Boyacá se caracteriza por su diversidad y belleza, reflejando la riqueza de los ecosistemas presentes en este departamento de Colombia. Entre las especies de flora más representativas se encuentran:

								<b><em>Frailejón:</em></b> Es una planta icónica de los páramos colombianos, con hojas gruesas y lanudas que forman una roseta compacta. Sus flores amarillas atraen a polinizadores como colibríes.
											
							    <b><em>Puya:</em></b> Es una planta con forma de roseta que se destaca por su inflorescencia espectacular y sus espinas afiladas. Es común encontrarla en los páramos de la región.
											
								<b><em>Encenillo:</em></b> Este árbol nativo de los Andes colombianos se distingue por sus hojas brillantes y sus frutos que son una fuente de alimento para diversas especies de aves.
											
								<b><em>Arrayán:</em></b> Un arbusto o árbol pequeño con flores blancas o rosadas que crece en los bosques húmedos de Boyacá, aportando color y vida a su entorno.
											
								<b><em>Cedro:</em></b> Un árbol de madera preciosa que se encuentra en los bosques de la región, con hojas compuestas y frutos en forma de cápsula.
											
								<b>La flora de Boyacá es un tesoro natural que contribuye a la biodiversidad y al equilibrio ecológico de la región, ofreciendo paisajes pintorescos y hábitats vitales para numerosas especies de fauna.</b></p><br>
										
									</section>
								</div>
								<div class="col-4 col-12-narrower">

								</div>
							</div>
						</section>

				</article>

				<footer id="footer">


					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="https://yandex.com/images/search?text=paramo"></a>NUESTROS PARAMOS</li>
					</ul>

				</footer>

		</div>

		
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.dropotron.min.js"></script>
			<script src="/static/js/jquery.scrolly.min.js"></script>
			<script src="/static/js/jquery.scrollgress.min.js"></script>
			<script src="/static/js/jquery.scrollex.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>