<!DOCTYPE HTML>
<html>
	<head>
		<title>BIODIVERSIDAD DE CUNDINAMARCA</title>
		<link rel="stylesheet" href="/static/css/style.css">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">
				<header id="header">
					<h1 alt=""</a>NUESTRA<span><br>BIODIVERSIDAD</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="/boyaca">CUNDINAMARCA</a></li>
							<li class="submenu">
								<a href="#">BIODIVERSIDAD</a>
								<ul>
									<li><a href="/fauna">FAUNA</a></li>
									<li><a href="/flora">FLORA</a></li>
									<li><a href="/municipios">MUNICIPIOS</a></li>
										
									</li>
								</ul>
							</li>
							<li><a href="/inicio" class="button primary">INICIO</a></li>
       
					
						</ul>
					</nav>
				</header>
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-mobile-alt"></span>
						<h2>FLORA Y FAUNA<strong>CUNDINAMARCA</strong></h2>
						<p>Ubicado en el centro del país, 
							Cundinamarca se erige como un verdadero tesoro de biodiversidad en Colombia.
							Con una variada geografía que va desde las altas montañas de la Cordillera Oriental hasta las fértiles llanuras del altiplano cundiboyacense, 
							esta región ofrece un ecosistema rico y diverso que alberga una amplia gama de flora y fauna.</p>
					</header>
					<a href="#" class="image featured"><img src="static/images/lago Cundinamarca.png"  width="250px"height="350px"/></a>
	
						<section class="wrapper style4 container">

					
								<div class="content">
									<section>
										
			
										<header>
											<h3>CLIMA</h3>
										</header>
										<p>El Clima del Departamento de Cundinamarca está determinado principalmente por la posición geográfica y por su relieve. Debido a que el territorio departamental se ubica en la cordillera de los Andes, las condiciones climáticas están influidas por su posición altimétrica, la circulación atmosférica, y la Zona de Convergencia Intertropical (ZCIT) quienes determinan el régimen pluviométrico.</p>
										<p>Se distinguen en el departamento varias zonas con grandes diferencias pluviométricas. El suroccidente del altiplano de Bogotá constituye la zona de menor precipitación (600 mm de promedio anual), debido entre otras causas, al efecto de abrigo que ejercen dos cordones magistrales que rodean el altiplano, los que determinan que las nubes ascendentes de los flancos occidental y oriental depositen la mayor parte de su humedad antes de franquearlos y lleguen al altiplano disminuidas en su carga de agua </p>
										<p>Respecto a la distribución temporal de la lluvia, en Cundinamarca se presentan dos regímenes, el bimodal y el monomodal. El bimodal se caracteriza por la ocurrencia de dos épocas de mayores lluvias (marzo-abril y octubre-noviembre), intercaladas con dos de menores lluvias (enero-febrero y julio-agosto); se presenta en la mayor parte del departamento, particular pero no exclusivamente al occidente del cordón magistral de la cordillera.</p>
									</section>
								</div>
	
						
								</header>
								

									<section>
										<footer>
											<ul class="buttons">
												<li><a href="/fauna" class="button small">FAUNA</a></li>
											</ul>
											<div class="box"><a href="#" class="image featured"><img src="static/images/águila arpía.webp" alt=""  width="250px"height="350px"/></a>
												<a href="#" class="image featured"><img src="static/images/venado cola blanca.webp" alt="" width="250px"height="350px" /></a>
											</div>
										</footer>
										<header>
											<h3>NUESTRA FAUNA</h3>
										</header>
										<p><i>La diversidad biológica de Cundinamarca es impresionante:</i>
											En sus bosques andinos y páramos, se encuentran especies emblemáticas como el oso de anteojos, el cóndor andino y el venado de cola blanca, 
											así como una gran variedad de aves endémicas y migratorias. Los ríos y lagunas de la región son hogar de numerosas especies de peces y anfibios,
										    mientras que sus valles y sabanas albergan una rica vegetación que incluye especies nativas como el frailejón y el roble.</p>
											<p>Los recursos naturales de la región son fundamentales para la agricultura, la ganadería y la provisión de agua potable para las comunidades locales. Además, el turismo de naturaleza es una importante fuente de ingresos para la economía regional, 
											atrayendo a visitantes nacionales e internacionales que desean explorar la belleza natural de la zona.</p>
											<p>Sin embargo, la biodiversidad de Cundinamarca enfrenta numerosas amenazas, 
												incluida la deforestación, la contaminación de los cuerpos de agua y el cambio climático. 
												Es por ello que la conservación y protección de los ecosistemas cundinamarqueses se ha convertido en una prioridad para las autoridades locales y las organizaciones ambientales.</p>
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<footer>
											<ul class="buttons">
												<li><a href="/biodiversidad" class="button small">CLIMA</a></li>
											</ul>
											<a href="#" class="image featured"><img src="static/images/Mapa_temperatura_anual_cundinamarca.jpg" alt=""width="250px"height="350px" /></a>
										</footer>
										<header>
										</section>
										<section class= "special coniner">
											
											<header>
												<h3>TEMPERATURA</h3>
											</header>
											<p>Desde el punto de vista espacial, las variaciones térmicas en las bajas latitudes se encuentran estrechamente relacionadas con la altitud. En el caso de los Andes colombianos, en general existe una relación inversa según la cual para cada 100m de altitud se registra un cambio de temperatura de 0.7 Centígrados (Stanescu y Díaz, 1971). Este fenómeno explica la distribución espacial en pisos térmicos que, en Cundinamarca comprenden desde el piso cálido hasta el páramo. Los pisos térmicos son franjas de aproximadamente 1.000 m de anchura, con un área de transición entre cada una que varía de acuerdo con las condiciones locales.

												- El piso térmico cálido tiene una temperatura superior a los 24°C; se extiende en Cundinamarca en altitudes desde los 300 hasta los 1.000 msnm. Cubre el 27% del área total del departamento y se presenta tanto en el piedemonte llanero como en el valle del río Magdalena.
												
												- En el piso térmico templado la temperatura fluctúa entre 18 y 24°C. Ocupa el 28% de la superficie de total departamental y altitudinalmente se extiende desde los 1.000 hasta los 2.000 msnm. Cubre la parte media de los flancos oriental y occidental.
												
												- El piso térmico frío presenta temperaturas entre 12 y 18°C; se extiende desde los 2.000 hasta los 3.000 msnm y cubre el 33% del área departamental; se localiza en el altiplano de Bogotá y en las partes al de los flancos cordilleranos.
												
												- El piso térmico de páramo presenta una temperatura inferior a los 12°C y se extiende de sur a norte por el páramo de Sumapaz y por los cordones montañosos que rodean el altiplano de Bogotá, cubre el 12% del total de la superficie departamental y altitudinalmente se encuentra por encima de los 3.000 m.
												
												El análisis de la distribución temporal de la temperatura del aire se puede hacer desde el punto de vista del promedio mensual. El comportamiento de la temperatura media mensual durante el año varía ligeramente según la zona. Mientras que en el flanco occidental (Anolaima, Tibacuy) el valor mensual más alto se registra en septiembre en el norte del departamento (Fúquene, Chocontá) y sur este del altiplano de Bogotá, se advierte en el mes de abril.</p>
											
										</section>

									<section>
										<footer>
											<ul class="buttons">
												<li><a href="/flora" class="button small">FLORA</a></li>
											</ul>
											<a href="#" class="image featured"><img src="static/images/Flora cundinamarca.jpg" alt=""width="250px"height="350px" /></a>
								
										</footer>
										<header>
											<h3>NUESTRA FLORA</h3>
										</header>
										<p>Cundinamarca posee una gran riqueza en recursos naturales, especialmente hídricos, por lo cual en el departamento se encuentran varias reservas naturales como parte del programa de protección ambiental.</p>
										<p>El agua que tomamos y el aire que respiramos están ligados a ciclos naturales, la capacidad productiva de los suelos y muchos otros servicios ambientales de los cuales depende nuestra supervivencia, 
											los cuales son claves para el bienestar; 
											por eso el Día Nacional de la Biodiversidad se reviste de gran importancia para el departamento de Cundinamarca, porque de sus múltiples usos nos beneficiamos para nuestra calidad de vida.</p>
											<p><i>Tips de biodiversidad en Colombia:</i>
											
												• Conserva el Sumapaz el páramo más grande del mundo.
												
												• Tiene 13.136 especies entre plantas, invertebrados, vertebrados, algas, líquenes y hongos.
												
												• Posee una riqueza natural representada en un total de 2.097.332 hectáreas declaradas como áreas protegidas, algunas de carácter nacional y regional.
												
												• Cuenta con el 13% de ecosistemas estratégicos ambientales del país.
												
												• Cuenta con cerca de 161.660 animales domésticos, que en conjunto equivalen al 44.9 % de la población domestica del departamento.
												
												<i>En Colombia se registran 58.312 especies, cifra calculada a partir de las especies con al menos un registro biológico en el SIB, siendo una aproximación a la riqueza conocida que tiene el país y está en constante actualización.</i>
												
												• Ocupamos el 2do puesto en el mundo en biodiversidad
												
												• Somos el primer país en aves y orquídeas
												
												• Segundo país en plantas, anfibios, mariposas y peces
												
												• Tercer país en palmas y réptiles
												
												• Sexto país en mamíferos.
												
												• En Colombia se encuentra amenazada: 302 especies
												
												• Especies objeto de comercio: 3.524
												
												• Especies introducidas e invasoras: 506
												
												Y es dentro de este contexto que, la Gobernación de Cundinamarca junto a la Corporación Autónoma Regional – CAR, han entregado kits de alimentación, aproximadamente 6.5 toneladas para los animales del Bioparque Wakatá (Jaime Duque) en Tocancipá, Bioparque La Reserva en Cota, Piscilago en Nilo y Santacruz en San Antonio del Tequendama, apoyando aproximadamente a 2.646 ejemplares de la biodiversidad del departamento.
										
												Actividad que se desarrolla en el marco de la estrategia de la Secretaria del Ambiente, a través de la Meta 281 del Plan Departamental de Desarrollo,  Cundinamarca, Región que Progresa, 
												“seguridad hídrica y recursos naturales para la vida”, en la que se viene trabajando para conservar y proteger los ecosistemas y la biodiversidad a fin de garantizar los servicios ambientales, evitar la pérdida del hábitat de la fauna y flora presentes en el territorio cundinamarqués y aumentar la oferta del recurso hídrico mejorando el acceso a los servicios de agua potables y saneamiento básico, con calidad, continuidad y cobertura en zonas urbanas y rurales</p>
									</section>
								</div>
								<div class="col-4 col-12-narrower">

								</div>
							</div>
						</section>

				</article>

				<footer id="footer">


					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="https://yandex.com/images/search?text=paramo"></a>NUESTROS PARAMOS</li>
					</ul>

				</footer>

		</div>

		
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.dropotron.min.js"></script>
			<script src="/static/js/jquery.scrolly.min.js"></script>
			<script src="/static/js/jquery.scrollgress.min.js"></script>
			<script src="/static/js/jquery.scrollex.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>