<!DOCTYPE HTML>
<html>
	<head>
		<title>BIODIVERSIDAD DE CUNDINAMARCA</title>
		<link rel="stylesheet" href="/static/css/style.css">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">
				<header id="header">
					<h1 alt=""</a>NUESTRA<span><br>BIODIVERSIDAD</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="/flora">FLORA</a></li>
							<li><a href="/inicio" class="button primary">INICIO</a></li>
					
						</ul>
					</nav>
				</header>
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-mobile-alt"></span>
						<h2>NUESTRA<strong>FAUNA</strong></h2>
						<p>"La fauna de Boyacá es igualmente diversa, con una variedad de mamíferos;
              aves, reptiles y anfibios que habitan sus diferentes ecosistemas. Desde osos de anteojos y pumas en las montañas hasta guacamayas y tucanes en los bosques tropicales,
              Boyacá ofrece oportunidades únicas para la observación de vida silvestre."
       </p>
					</header>
					<a href="#" class="image featured"><img src="static/images/GUACAMAYA.jpg" alt="" width="150px"height="350px"/></a>
	
						<section class="wrapper style4 container">

					
								<div class="content">
									<section>
										
									<section>
										<footer>
												<a href="#" class="image featured"><img src="static/images/tigrillo 2.webp" alt="" width="150px"height="350px"/></a>
											</div>
										</footer>
										<header>
											<h3>NUESTRA FAUNA</h3>
										</header>
										<p>"En sus bosques andinos y páramos de Cundinamarca, 
                      se encuentran especies emblemáticas como el oso de anteojos,
                       el cóndor andino y el venado de cola blanca, 
                      así como una gran variedad de aves endémicas y migratorias."
              </p>

              <div class="box"><a href="#" class="image featured"><img src="static/images/condor.webp" alt=""width="150px"height="350px"/></a>
                <p>El cóndor andino es el ave terrestre viva más grande capaz de volar si se mide en términos de peso promedio y envergadura,
                   aunque las avutardas macho de las especies más grandes (mucho más dimórficas sexualmente en tamaño) pueden pesar más.
          </p>
                 
          </p>
                
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										
										<header>
										</section>
										<section class= "special coniner">
								</div>
								<div class="col-4 col-12-narrower">

								</div>
							</div>
						</section>

				</article>

				<footer id="footer">


					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href=""></a>ESPECIE EMBLEMATICA</li>
					</ul>

				</footer>

		</div>

		
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.dropotron.min.js"></script>
			<script src="/static/js/jquery.scrolly.min.js"></script>
			<script src="/static/js/jquery.scrollgress.min.js"></script>
			<script src="/static/js/jquery.scrollex.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>