<!DOCTYPE HTML>
<html>
	<head>
		<title>BIODIVERSIDAD DE CUNDINAMARCA</title>
		<link rel="stylesheet" href="/static/css/style.css">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">
				<header id="header">
					<h1 alt=""></a></h1>NUESTRA<span><br>BIODIVERSIDAD</span></a></h1>
					<nav id="nav">

						<ul>
							<li class="current"><a href="/fauna">FAUNA</a></li>
							<li><a href="/inicio" class="button primary">INICIO</a></li>
					
						</ul>
					</nav>
				</header>
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-mobile-alt"></span>
						<h2>NUESTRA<strong>FLORA</strong></h2>
						<p>"El departamento de Boyacá presenta una variada y diversa flora,
              lo cual desemboca en una alta variedad de ecosistemas con zonas de páramo bosque húmedo tropical, 
              piedemonte llanero y bosque andino y altoandino; 
              en los cuales se presume haya una alta diversidad de especies."        
       </p>
					</header>
					<a href="#" class="image featured"><img src="static/images/Heliconias.webp" width="250px"height="350px"/></a>
	
						<section class="wrapper style4 container">

					
								<div class="content">
									<section>
										
									<section>
										<footer>
												<a href="#" class="image featured"><img src="static/images/ORQUIDEA.jpg" alt="" width="250px"height="350px"/></a>
											</div>
										</footer>
										<header>
											<h3>NUESTRA FLORA</h3>
										</header>
										<p>>"Ubicado en el centro del país, Cundinamarca se erige como un verdadero tesoro de biodiversidad en Colombia. Con una variada geografía que va desde las altas montañas de la Cordillera Oriental hasta las fértiles llanuras del altiplano cundiboyacense,
                      esta región ofrece un ecosistema rico y diverso que alberga una amplia gama de flora".             
              </p>

              <div class="box"><a href="#" class="image featured"><img src="static/images/camino.webp" alt="" width="250px"height="350px"/></a>
                <p>El antiplano cundiboyacense es una zona de tierras altas y planas ubicada en la cordillera oriental de los Andes,
                  entre los departamentos colombianos de Cundinamarca, Boyacá y el distrito capitalino de Bogotá.
          </p>
                 
          </p>
                
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										
										<header>
										</section>
										<section class= "special coniner">
								</div>
								<div class="col-4 col-12-narrower">

								</div>
							</div>
						</section>

				</article>

				<footer id="footer">


					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href=""></a>ESPECIE EMBLEMATICA</li>
					</ul>

				</footer>

		</div>

		
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.dropotron.min.js"></script>
			<script src="/static/js/jquery.scrolly.min.js"></script>
			<script src="/static/js/jquery.scrollgress.min.js"></script>
			<script src="/static/js/jquery.scrollex.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>