<!DOCTYPE HTML>
<html>
	<head>
		<title>Biodiversidad</title>
		<link rel="stylesheet" href="/static/css/style.css">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
	</head>
	<body class="index is-preload">

		<img src="/images/sky_islands_slideshow_1_2.jpg" alt="">

			<div></div>
				<header id="header" class="alt">
					<h1 id="Biodiversidad"><a href="/index"><span></span></a></h1>
					<nav id="nav">
								<ul>
						
							<li><a href="/biodiversidad" class="button primary">INICIO</a></li>
							<li><a href="/fauna" class="button primary">FAUNA</a></li>
							<li><a href="/flora" class="button primary">FLORA</a></li>
							<li><a href="/Geolocalizacion" class="button primary">GEOLOCALIZACIÒN</a></li>
							<li><a href="/municipios" class="button primary">MUNICIPIOS</a></li>
						</ul>
					</nav>
				</header>
				<section id="banner">
					<div class="inner">

						<header>
							<h2>BIODIVERSIDAD</h2>
						</header>
<br>
<img src="static/images/bio.webp" alt="ECOSISTEMA">
<li class="current"><a href="/biodiversidad">BIODIVERSIDAD CUNDIBOYACENSE</a></li>

<p>Ubicada en el corazón de los Andes, esta zona se caracteriza por una impresionante variedad de ecosistemas y especies únicas.
	Desde las imponentes montañas hasta los fértiles valles, la región alberga una riqueza natural que deslumbra a visitantes de todo el mundo. 
	Los bosques nublados, páramos y lagunas de estos dos departamentos son hogar de una diversidad de flora y fauna que dejan boquiabiertos a quienes tienen el privilegio de contemplar la naturaleza.</strong>
						<br/>
						Especies emblemáticas como el oso de anteojos, el cóndor de los Andes y la ranita dorada<br> habitan en estos paisajes de incomparable belleza.
						<br/>
						<a href="https://www.corpoboyaca.gov.co/sirap/areas-protegidas/paramos/ecosistemas-estrategicos/"></a></p>
						<footer>
							<ul class="buttons stacked">
								<li><a href="/biodiversidad" class="button primary">NAVEGA EN NUESTRA BIODIVERSIDAD</a></li>
							</ul>
						</footer>

					</div>

				</section>

			<!-- Main -->
				<article id="main">
					<a href="/cundinamarca" class="button primary">CUNDINAMARCA</a>

					<header class="special container">
						<span class="icon solid fa-chart-bar"></span>
						<h2>EL OSO <strong> DE ANTEOJOS;</strong> 
						<br />
						Según la Unión Internacional para la Conservación de la Naturaleza (UICN) se encuentra en peligro de extinción.</h2>
						<p>Sin duda,<strong>la característica más llamativa del oso de anteojos</strong> es la presencia de pelo blanco alrededor de los ojos con forma circular,
						<br />
						recordando su forma a la de unas gafas, en muchos ejemplares, este pelo blanco se extiende hasta el pecho. El resto del pelaje de su cuerpo es pardo oscuro o negro.
						<br />
						La Corporación Autónoma Regional de Chivor (Corpochivor) logró captar por segundo año consecutivo la presencia de un ejemplar macho adulto.
						
						 <a href="https://www.expertoanimal.com/osos/oso-de-anteojos.html">en el municipio de Garagoa,</a>en Boyacá.!</p>
					</header>

			
						<section class="wrapper style2 container special-alt">
							<div class="row gtr-50">
								<div class="col-8 col-12-narrower">

									<header>
										<h2>EL OSO<strong>DE ANTEOJOS</strong> Tambien conocidos como oso andino o Jukumari, es una magnífica especie que actualmente se encuentra en peligro de extinción</h2>
									</header>
									<img src="static/images/oso.jpg" alt="">
									<p>También poseen un agudo sentido del olfato y un excelente oído, lo que les permite detectar amenazas potenciales y localizar fuentes de alimento de forma eficaz.</p>
									<footer>
										<ul class="buttons">
											<li><a href="/boyaca" class="button">BOYACÀ</a></li>
										</ul>
									</footer>

								</div>
								<div class="col-4 col-12-narrower imp-narrower">

									<ul class="featured-icons">
										<li><span class="icon fa-clock"><span class="label">Feature 1</span></span></li>
										<li><span class="icon solid fa-volume-up"><span class="label">IMAGEN 1</span></span></li>
										<li><span class="icon solid fa-laptop"><span class="label">IMAGEN 2</span></span></li>
										<li><span class="icon solid fa-inbox"><span class="label">IMAGEN 3</span></span></li>
										<li><span class="icon solid fa-lock"><span class="label">IMAGEN 4</span></span></li>
										<li><span class="icon solid fa-cog"><span class="label">IMAGEN 5</span></span></li>
									</ul>

								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="col-4 col-12-narrower">

									<section>
										<span class="icon solid featured fa-check"></span>
										<header>
											<h3>El paramo de Rabanal</h3>
										</header>
										<p>El páramo de Rabanal en Colombia es considerado un reservorio hídrico para la región del altiplano cundiboyacense, y ha sufrido un grave deterioro por actividades humanas.</p>
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<span class="icon solid featured fa-check"></span>
										<header>
											<h3>pato paramuno y la polla de agua </h3>
										</header>
										<p>En Laguna Verde, durante el mes de marzo de 2014, se registró un adulto de la polla de agua (Fulica americana) con tres polluelos; por otro lado, en febrero del mismo año se registraron un macho y tres hembras del pato paramuno (Anas discors) en el mismo sitio. </p>
									</section>

								</div>
								<div class="col-4 col-12-narrower">

									<section>
										<span class="icon solid featured fa-check"></span>
										<header>
											<h3>El colibrí</h3>
										</header>
										<p>En el mes de septiembre de 2013 se registró actividad reproductiva para tres especies de aves. Se evidenció un individuo de carbonero brillante (Diglossa lafresnayii) con parche de cría, y se hallaron nidos de colibrí.</p>
									</section>

								</div>
							</div>
						</section>

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>FLORA Y FAUNA<strong>CUNDIBOYACENSE</strong></h2>
							</header>

							<div class="row">
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="static/images/bosque.webp" alt="" />FLORA</a>
										<header>
											<h3>FLORA</h3>
										</header>
										<p>La variedad térmica y geográfica sustenta la riqueza silvestre de los departamentos de Boyacá y Cundinamarca,
											 cuenta con una gran variedad de flora nativa, por ejemplo se destaca el roble, árbol insignia del territorio, 
											 esta especie es caracterizada por su altura y fortaleza, se aprecia en comunidades asentadas sobre los 1.500 y 3.000 m. s. n. m., llamadas también “robledales”, 
											 con más de trescientas mil hectáreas de páramos, correspondientes al 20% del total nacional, respaldan la reputación del departamento como epicentro de ecología y biodiversidad.</p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="static/images/GUACAMAYA.jpg" alt="" /></a>
										<header>
											<h3>FAUNA</h3>
										</header>
										<p>La fauna igualmente diversa, con una variedad de mamíferos, aves, reptiles y anfibios que habitan sus diferentes ecosistemas. Desde osos de anteojos y pumas en las montañas hasta guacamayas y tucanes en los bosques tropicales, Boyacá ofrece oportunidades únicas para la observación de vida silvestre.</p>
									</section>

								</div>
							</div>
							<div class="row">
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="static/images/BUHO.jpg" alt="" /></a>
											<h3>ESPECIES</h3>
										</header>
										<p>Más del 64 % de las especies en alguna categoría de amenaza son endémicas para el país.</p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="static/images/PAJARO AZUL.jpg" alt="" /></a>
										<header>
											<h3>AVES MIGRATORIAS</h3>
										</header>
										<p>El municipio con mayor número de observaciones de aves migratorias es Santa María.</p>
									</section>

								</div>
							</div>

							<footer class="major">
								<ul class="buttons">
									<li><a href="/biodiversidad" class="button">Màs sobre Biodiversidad</a></li>
								</ul>
							</footer>

						</section>

				</article>

			<!-- CTA -->
				<section id="cta">

					<header>
						<h2>BIODIVERSIDAD<strong>BOYACÀ Y CUNDINAMARCA</strong></h2>
						<p>En los páramos de Boyacá se han observado especies emblemáticas de Colombia como el frailejón y el oso andino.</p>
					</header>
					<footer>
						<ul class="buttons">
							<li><a href="/fauna" class="button primary">FAUNA</a></li>
							<li><a href="/flora" class="button">FLORA</a></li>
						</ul>
					</footer>

				</section>

			
				<footer id="footer">

					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="https://cifras.biodiversidad.co/boyaca">CIFRAS DE BIODIVERSIDAD</a></li>
					</ul>
					
				</footer>

		</div>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.dropotron.min.js"></script>
			<script src="/static/js/jquery.scrolly.min.js"></script>
			<script src="/static/js/jquery.scrollex.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>