<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Municipios de Boyacá y Cundinamarca</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    .styled-table{
        border-collapse: collapse
        margin: 25px 0;
        font-size: 1em;
        font-family: arial;
        min-width: 500px;
        box-shadow: 0 0 20px rgba (0 0 0 0.15);
    
    }
    .styled-table thead tr{
    
        background-color: rgb(57, 163, 216);
        color: beige;
        text-align: middle;
    }
    
    .styled-table th,
    .styled-table td{
        padding: 12px 15px;
    
    }
    .styled-table tbody tr{
        border-bottom: 1px solid #36d628;
    }
    
    .styled-table tbody tr:nth-of-type(even){
        background-color: rgb(197, 207, 204);
          
    
    </style>
</head>
<body>
    <h1>Municipios de Boyacá y Cundinamarca</h1>
    <table>
        <thead>
            <tr>
                <th>Departamento</th>
                <th>Municipio</th>
            </tr>
        </thead>
        <tbody>
            <!-- Boyacá -->
            <tr>
                <td rowspan="123">Boyacá</td>
                
            </tr>
            <tr><td>Achí</td></tr>
            <tr><td>Almeida</td></tr>
            <tr><td>Arcabuco</td></tr>
            <tr><td>Belén</td></tr>
            <tr><td>Berbeo</td></tr>
            <tr><td>Betéitiva</td></tr>
            <tr><td>Boavita</td></tr>
            <tr><td>Boyacá</td></tr>
            <tr><td>Briceño</td></tr>
            <tr><td>Buenavista</td></tr>
            <tr><td>Busbanzá</td></tr>
            <tr><td>Caldas</td></tr>
            <tr><td>Campohermoso</td></tr>
            <tr><td>Cerinza</td></tr>
            <tr><td>Chinavita</td></tr>
            <tr><td>Chiquinquirá</td></tr>
            <tr><td>Chíquiza</td></tr>
            <tr><td>Chiscas</td></tr>
            <tr><td>Chita</td></tr>
            <tr><td>Chitaraque</td></tr>
            <tr><td>Chivatá</td></tr>
            <tr><td>Chivor</td></tr>
            <tr><td>Ciénaga</td></tr>
            <tr><td>Cómbita</td></tr>
            <tr><td>Coper</td></tr>
            <tr><td>Corrales</td></tr>
            <tr><td>Covarachía</td></tr>
            <tr><td>Cubará</td></tr>
            <tr><td>Cucaita</td></tr>
            <tr><td>Cuítiva</td></tr>
            <tr><td>Duitama</td></tr>
            <tr><td>El Cocuy</td></tr>
            <tr><td>El Espino</td></tr>
            <tr><td>Firavitoba</td></tr>
            <tr><td>Floresta</td></tr>
            <tr><td>Gachantivá</td></tr>
            <tr><td>Garagoa</td></tr>
            <tr><td>Guacamayas</td></tr>
            <tr><td>Guateque</td></tr>
            <tr><td>Guayatá</td></tr>
            <tr><td>Güicán</td></tr>
            <tr><td>Iza</td></tr>
            <tr><td>Jenesano</td></tr>
            <tr><td>Jericó</td></tr>
            <tr><td>La Capilla</td></tr>
            <tr><td>La Uvita</td></tr>
            <tr><td>La Victoria</td></tr>
            <tr><td>Labranzagrande</td></tr>
            <tr><td>Macanal</td></tr>
            <tr><td>Maripí</td></tr>
            <tr><td>Miraflores</td></tr>
            <tr><td>Mongua</td></tr>
            <tr><td>Monguí</td></tr>
            <tr><td>Moniquirá</td></tr>
            <tr><td>Motavita</td></tr>
            <tr><td>Muzo</td></tr>
            <tr><td>Nobsa</td></tr>
            <tr><td>Nuevo Colón</td></tr>
            <tr><td>Oicatá</td></tr>
            <tr><td>Otanche</td></tr>
            <tr><td>Pachavita</td></tr>
            <tr><td>Páez</td></tr>
            <tr><td>Paipa</td></tr>
            <tr><td>Pajarito</td></tr>
            <tr><td>Panqueba</td></tr>
            <tr><td>Pauna</td></tr>
            <tr><td>Paya</td></tr>
            <tr><td>Paz de Río</td></tr>
            <tr><td>Pesca</td></tr>
            <tr><td>Pisba</td></tr>
            <tr><td>Puerto Boyacá</td></tr>
            <tr><td>Quípama</td></tr>
            <tr><td>Ramiriquí</td></tr>
            <tr><td>Ráquira</td></tr>
            <tr><td>Rondón</td></tr>
            <tr><td>Saboyá</td></tr>
            <tr><td>Sáchica</td></tr>
            <tr><td>Samacá</td></tr>
            <tr><td>San Eduardo</td></tr>
            <tr><td>San José de Pare</td></tr>
            <tr><td>San Luis de Gaceno</td></tr>
            <tr><td>San Mateo</td></tr>
            <tr><td>San Miguel de Sema</td></tr>
            <tr><td>San Pablo de Borbur</td></tr>
            <tr><td>Santa María</td></tr>
            <tr><td>Santa Rosa de Viterbo</td></tr>
            <tr><td>Santa Sofía</td></tr>
            <tr><td>Santana</td></tr>
            <tr><td>Sativanorte</td></tr>
            <tr><td>Sativasur</td></tr>
            <tr><td>Siachoque</td></tr>
            <tr><td>Soatá</td></tr>
            <tr><td>Socha</td></tr>
            <tr><td>Socotá</td></tr>
            <tr><td>Sogamoso</td></tr>
            <tr><td>Somondoco</td></tr>
            <tr><td>Sora</td></tr>
            <tr><td>Soracá</td></tr>
            <tr><td>Sotaquirá</td></tr>
            <tr><td>Susacón</td></tr>
            <tr><td>Sutamarchán</td></tr>
            <tr><td>Sutatenza</td></tr>
            <tr><td>Tasco</td></tr>
            <tr><td>Tenza</td></tr>
            <tr><td>Tibaná</td></tr>
            <tr><td>Tibasosa</td></tr>
            <tr><td>Tinjacá</td></tr>
            <tr><td>Tipacoque</td></tr>
            <tr><td>Toca</td></tr>
            <tr><td>Togüí</td></tr>
            <tr><td>Tópaga</td></tr>
            <tr><td>Tota</td></tr>
            <tr><td>Tunja</td></tr>
            <tr><td>Tununguá</td></tr>
            <tr><td>Turzaiquira</td></tr>
            <tr><td>Umbita</td></tr>
            <tr><td>Ventaquemada</td></tr>
            <tr><td>Villa de Leyva</td></tr>
            <tr><td>Viracachá</td></tr>
            <tr><td>Zetaquira</td></tr>
        
        </tbody>
             <!-- Boyacá -->

    <tbody>  
            <tr>
                <td rowspan="484">CUNDINAMARCA</td>
                
            </tr>
            <tr><td>AGUA DE DIOS</td></tr>
            <tr><td>ALBÁN</td></tr>
<tr><td>CHIMBE (DANUBIO)</td></tr>
<tr><td>PANTANILLO</td></tr>
<tr><td>LA MARÍA</td></tr>
<tr><td>ANAPOIMA</td></tr>
<tr><td>LA PAZ</td></tr>
<tr><td>SAN ANTONIO DE ANAPOIMA</td></tr>
<tr><td>PATIO BONITO</td></tr>
<tr><td>ANOLAIMA</td></tr>
<tr><td>LA FLORIDA</td></tr>
<tr><td>REVENTONES</td></tr>
<tr><td>CORRALEJAS</td></tr>
<tr><td>ARBELÁEZ</td></tr>
<tr><td>TISINCE</td></tr>
<tr><td>BELTRÁN</td></tr>
<tr><td>PAQUILÓ</td></tr>
<tr><td>LA POPA</td></tr>
<tr><td>PUERTO GRAMALOTAL</td></tr>
<tr><td>BITUIMA</td></tr>
<tr><td>BOQUERÓN DE ILÓ</td></tr>
<tr><td>LA SIERRA</td></tr>
<tr><td>BOJACÁ</td></tr>
<tr><td>SANTA BÁRBARA</td></tr>
<tr><td>CABRERA</td></tr>
<tr><td>CACHIPAY</td></tr>
<tr><td>PEÑA NEGRA</td></tr>
<tr><td>URBANIZACION TIERRA DE ENSUEÑO</td></tr>
<tr><td>CAJICÁ</td></tr>
<tr><td>RINCÓN SANTO</td></tr>
<tr><td>RÍO GRANDE</td></tr>
<tr><td>CANELON</td></tr>
<tr><td>LOS SERENEOS</td></tr>
<tr><td>LOS PASOS</td></tr>
<tr><td>LA FLORIDA</td></tr>
<tr><td>CALAHORRA</td></tr>
<tr><td>AGUANICA</td></tr>
<tr><td>LA PALMA</td></tr>
<tr><td>LA ESPERANZA</td></tr>
<tr><td>CAMINO LOS VARGAS</td></tr>
<tr><td>LOS LEÓN</td></tr>
<tr><td>PRADO</td></tr>
<tr><td>PABLO HERRERA</td></tr>
<tr><td>SANTA INÉS</td></tr>
<tr><td>BOSQUE MADERO</td></tr>
<tr><td>QUINTAS DEL MOLINO</td></tr>
<tr><td>VERDE VIVO</td></tr>
<tr><td>VILLA DE LOS PINOS</td></tr>
<tr><td>CAPARRAPÍ</td></tr>
<tr><td>CAMBRAS</td></tr>
<tr><td>EL DINDAL</td></tr>
<tr><td>SAN PEDRO</td></tr>
<tr><td>TATI</td></tr>
<tr><td>CÓRDOBA</td></tr>
<tr><td>SAN CARLOS</td></tr>
<tr><td>CAMBULO</td></tr>
<tr><td>SAN PABLO</td></tr>
<tr><td>SAN RAMÓN ALTO</td></tr>
<tr><td>CÁQUEZA</td></tr>
<tr><td>CARMEN DE CARUPA</td></tr>
<tr><td>CHAGUANÍ</td></tr>
<tr><td>CHÍA</td></tr>
<tr><td>SINDAMANOY I</td></tr>
<tr><td>CUATRO ESQUINAS</td></tr>
<tr><td>CERCA DE PIEDRA</td></tr>
<tr><td>RINCON DE FAGUA</td></tr>
<tr><td>CHIQUILINDA</td></tr>
<tr><td>LA PAZ</td></tr>
<tr><td>EL ESPEJO</td></tr>
<tr><td>PUEBLO FUERTE</td></tr>
<tr><td>PUENTE CACIQUE</td></tr>
<tr><td>SANTA BARBARA</td></tr>
<tr><td>VILLA JULIANA</td></tr>
<tr><td>ENCENILLOS DE SINDAMANOY</td></tr>
<tr><td>CHIPAQUE</td></tr>
<tr><td>LLANO DE CHIPAQUE</td></tr>
<tr><td>ABASTICOS</td></tr>
<tr><td>CHOACHÍ</td></tr>
<tr><td>POTRERO GRANDE</td></tr>
<tr><td>CHOCONTÁ</td></tr>
<tr><td>COGUA</td></tr>
<tr><td>RODAMONTAL</td></tr>
<tr><td>EL MORTIÑO</td></tr>
<tr><td>LA PLAZUELA</td></tr>
<tr><td>LA CHAPA</td></tr>
<tr><td>EL CASCAJAL</td></tr>
<tr><td>EL DURAZNO</td></tr>
<tr><td>EL OLIVO</td></tr>
<tr><td>SAN ANTONIO</td></tr>
<tr><td>EL ÁTICO - SECTOR ÁLVAREZ</td></tr>
<tr><td>RINCÓN SANTO - SECTOR ZAMORA</td></tr>
<tr><td>COTA</td></tr>
<tr><td>CUCUNUBÁ</td></tr>
<tr><td>EL COLEGIO</td></tr>
<tr><td>EL TRIUNFO</td></tr>
<tr><td>LA VICTORIA</td></tr>
<tr><td>PRADILLA</td></tr>
<tr><td>LA PAZ</td></tr>
<tr><td>EL PEÑÓN</td></tr>
<tr><td>GUAYABAL DE TOLEDO</td></tr>
<tr><td>TALAUTA</td></tr>
<tr><td>EL ROSAL</td></tr>
<tr><td>CRUZ VERDE</td></tr>
<tr><td>PUENTE EL ROSAL</td></tr>
<tr><td>SAN ANTONIO</td></tr>
<tr><td>FACATATIVÁ</td></tr>
<tr><td>SAN RAFAEL  BAJO</td></tr>
<tr><td>LOS ANDES</td></tr>
<tr><td>LA YERBABUENA</td></tr>
<tr><td>ALTO DE CÓRDOBA</td></tr>
<tr><td>LOS ARRAYANES</td></tr>
<tr><td>LOS MANZANOS</td></tr>
<tr><td>PASO ANCHO</td></tr>
<tr><td>PUEBLO VIEJO</td></tr>
<tr><td>SANTA MARTHA - LA ESPERANZA</td></tr>
<tr><td>SAGRADO CORAZÓN</td></tr>
<tr><td>VILLA MYRIAM</td></tr>
<tr><td>LOS ROBLES</td></tr>
<tr><td>SAN ISIDRO</td></tr>
<tr><td>TIERRA GRATA ALTA</td></tr>
<tr><td>TIERRA GRATA (EL CRUCE)</td></tr>
<tr><td>SAN JOSÉ</td></tr>
<tr><td>FÓMEQUE</td></tr>
<tr><td>LA UNIÓN</td></tr>
<tr><td>FOSCA</td></tr>
<tr><td>SÁNAME</td></tr>
<tr><td>FUNZA</td></tr>
<tr><td>EL COCLI</td></tr>
<tr><td>EL PAPAYO</td></tr>
<tr><td>SAN ANTONIO LOS PINOS</td></tr>
<tr><td>TIENDA NUEVA</td></tr>
<tr><td>FÚQUENE</td></tr>
<tr><td>CAPELLANÍA</td></tr>
<tr><td>NUEVO FÚQUENE</td></tr>
<tr><td>FUSAGASUGÁ</td></tr>
<tr><td>LA AGUADITA</td></tr>
<tr><td>EL TRIUNFO BOQUERON</td></tr>
<tr><td>LA CASCADA</td></tr>
<tr><td>RIO BLANCO - LOS PUENTES</td></tr>
<tr><td>CHINAUTA</td></tr>
<tr><td>LAS PIRAMIDES</td></tr>
<tr><td>GACHALÁ</td></tr>
<tr><td>SANTA RITA DEL RÍO NEGRO</td></tr>
<tr><td>PALOMAS</td></tr>
<tr><td>GACHANCIPÁ</td></tr>
<tr><td>EL ROBLE SUR</td></tr>
<tr><td>GACHETÁ</td></tr>
<tr><td>GAMA</td></tr>
<tr><td>SAN ROQUE</td></tr>
<tr><td>GIRARDOT</td></tr>
<tr><td>BERLÍN</td></tr>
<tr><td>BARZALOSA</td></tr>
<tr><td>PIAMONTE</td></tr>
<tr><td>GRANADA</td></tr>
<tr><td>LA VEINTIDOS</td></tr>
<tr><td>SAN RAIMUNDO</td></tr>
<tr><td>GUACHETÁ</td></tr>
<tr><td>GUADUAS</td></tr>
<tr><td>GUADUERO</td></tr>
<tr><td>LA PAZ DE CALAMOIMA</td></tr>
<tr><td>PUERTO BOGOTÁ</td></tr>
<tr><td>ALTO DEL TRIGO</td></tr>
<tr><td>LA CABAÑA</td></tr>
<tr><td>GUASCA</td></tr>
<tr><td>LA CABRERITA</td></tr>
<tr><td>GAMBOA (EL PLACER)</td></tr>
<tr><td>GUATAQUÍ</td></tr>
<tr><td>EL PORVENIR</td></tr>
<tr><td>LAS ISLAS</td></tr>
<tr><td>GUATAVITA</td></tr>
<tr><td>GUAYABAL DE SÍQUIMA</td></tr>
<tr><td>ALTO DEL TRIGO</td></tr>
<tr><td>GUAYABETAL</td></tr>
<tr><td>MONTERREDONDO</td></tr>
<tr><td>LAS MESAS</td></tr>
<tr><td>LIMONCITOS</td></tr>
<tr><td>SAN ANTONIO</td></tr>
<tr><td>SAN MIGUEL</td></tr>
<tr><td>LAS MESETAS</td></tr>
<tr><td>GUTIÉRREZ</td></tr>
<tr><td>PASCOTE</td></tr>
<tr><td>SAN ANTONIO</td></tr>
<tr><td>JERUSALÉN</td></tr>
<tr><td>JUNÍN</td></tr>
<tr><td>CLARAVAL</td></tr>
<tr><td>CHUSCALES</td></tr>
<tr><td>SUEVA</td></tr>
<tr><td>PUENTE LISIO</td></tr>
<tr><td>RAMAL</td></tr>
<tr><td>SAN FRANCISCO</td></tr>
<tr><td>LA CALERA</td></tr>
<tr><td>MUNDONUEVO</td></tr>
<tr><td>EL SALITRE</td></tr>
<tr><td>TREINTA Y SEIS</td></tr>
<tr><td>ALTAMAR</td></tr>
<tr><td>EL MANZANO</td></tr>
<tr><td>LA AURORA ALTA</td></tr>
<tr><td>LA CAPILLA</td></tr>
<tr><td>MÁRQUEZ</td></tr>
<tr><td>SAN CAYETANO</td></tr>
<tr><td>SAN JOSÉ DEL TRIUNFO</td></tr>
<tr><td>LA MESA</td></tr>
<tr><td>LA ESPERANZA</td></tr>
<tr><td>SAN JAVIER</td></tr>
<tr><td>SAN JOAQUÍN</td></tr>
<tr><td>LA PALMA</td></tr>
<tr><td>LA PEÑA</td></tr>
<tr><td>LA VEGA</td></tr>
<tr><td>EL VINO</td></tr>
<tr><td>LENGUAZAQUE</td></tr>
<tr><td>MACHETÁ</td></tr>
<tr><td>MADRID</td></tr>
<tr><td>LA CUESTA</td></tr>
<tr><td>EL CORZO</td></tr>
<tr><td>PUENTE DE PIEDRA</td></tr>
<tr><td>CHAUTA</td></tr>
<tr><td>MOYANO</td></tr>
<tr><td>MANTA</td></tr>
<tr><td>MEDINA</td></tr>
<tr><td>SAN PEDRO DE GUAJARAY</td></tr>
<tr><td>SANTA TERESITA</td></tr>
<tr><td>MESA DE LOS REYES</td></tr>
<tr><td>LOS ALPES</td></tr>
<tr><td>LA ESMERALDA</td></tr>
<tr><td>GAZADUJE</td></tr>
<tr><td>MOSQUERA</td></tr>
<tr><td>LOS PUENTES</td></tr>
<tr><td>PARCELAS</td></tr>
<tr><td>PENCAL</td></tr>
<tr><td>QUINTAS DE SERREZUELA</td></tr>
<tr><td>NARIÑO</td></tr>
<tr><td>NEMOCÓN</td></tr>
<tr><td>PATIO BONITO</td></tr>
<tr><td>EL ORATORIO</td></tr>
<tr><td>LA PUERTA</td></tr>
<tr><td>CAMACHO</td></tr>
<tr><td>EL PLAN</td></tr>
<tr><td>NILO</td></tr>
<tr><td>LA ESMERALDA</td></tr>
<tr><td>PUEBLO NUEVO</td></tr>
<tr><td>EL REDIL</td></tr>
<tr><td>NIMAIMA</td></tr>
<tr><td>TOBIA</td></tr>
<tr><td>NOCAIMA</td></tr>
<tr><td>TOBIA CHICA</td></tr>
<tr><td>VENECIA</td></tr>
<tr><td>APOSENTOS</td></tr>
<tr><td>EL TRÉBOL</td></tr>
<tr><td>PACHO</td></tr>
<tr><td>PASUNCHA</td></tr>
<tr><td>PAIME</td></tr>
<tr><td>CUATRO CAMINOS</td></tr>
<tr><td>TUDELA</td></tr>
<tr><td>VENECIA</td></tr>
<tr><td>PANDI</td></tr>
<tr><td>PARATEBUENO</td></tr>
<tr><td>MAYA</td></tr>
<tr><td>SANTA CECILIA</td></tr>
<tr><td>EL ENGAÑO</td></tr>
<tr><td>EL JAPÓN</td></tr>
<tr><td>CABULLARITO</td></tr>
<tr><td>PASCA</td></tr>
<tr><td>GUCHIPAS</td></tr>
<tr><td>PUERTO SALGAR</td></tr>
<tr><td>COLORADOS</td></tr>
<tr><td>PUERTO LIBRE</td></tr>
<tr><td>MORRO COLORADO</td></tr>
<tr><td>PULÍ</td></tr>
<tr><td>PALESTINA</td></tr>
<tr><td>QUEBRADANEGRA</td></tr>
<tr><td>LA MAGDALENA</td></tr>
<tr><td>TOBIA - LA MILAGROSA</td></tr>
<tr><td>QUETAME</td></tr>
<tr><td>PUENTE QUETAME</td></tr>
<tr><td>GUACAPATE</td></tr>
<tr><td>QUIPILE</td></tr>
<tr><td>LA SIERRA</td></tr>
<tr><td>LA VIRGEN</td></tr>
<tr><td>SANTA MARTA</td></tr>
<tr><td>LA BOTICA</td></tr>
<tr><td>APULO</td></tr>
<tr><td>RICAURTE</td></tr>
<tr><td>MANUEL SUR</td></tr>
<tr><td>EL PASO</td></tr>
<tr><td>EL PORTAL</td></tr>
<tr><td>LAS VARAS</td></tr>
<tr><td>SAN MARCOS POBLADO</td></tr>
<tr><td>SAN MARTÍN</td></tr>
<tr><td>SAN ANTONIO DEL TEQUENDAMA</td></tr>
<tr><td>SANTANDERCITO</td></tr>
<tr><td>PUEBLO NUEVO</td></tr>
<tr><td>BELLAVISTA</td></tr>
<tr><td>PRADILLA</td></tr>
<tr><td>LOS NARANJOS</td></tr>
<tr><td>VILLA PRADILLA</td></tr>
<tr><td>VILLA SHYN (CASAS MOVILES)</td></tr>
<tr><td>SAN BERNARDO</td></tr>
<tr><td>PORTONES</td></tr>
<tr><td>PUEBLO NUEVO</td></tr>
<tr><td>CAMANCHA</td></tr>
<tr><td>CUIBUCO</td></tr>
<tr><td>LAS MERCEDES</td></tr>
<tr><td>ALBERGUE</td></tr>
<tr><td>SAN FRANCISCO</td></tr>
<tr><td>SAN JUAN DE RIOSECO</td></tr>
<tr><td>CAMBAO</td></tr>
<tr><td>SAN NICOLÁS</td></tr>
<tr><td>SASAIMA</td></tr>
<tr><td>SANTA INES</td></tr>
<tr><td>SANTA CRUZ</td></tr>
<tr><td>SESQUILÉ</td></tr>
<tr><td>LA PLAYA</td></tr>
<tr><td>BOITIVA SAN ROQUE</td></tr>
<tr><td>SIATOYA</td></tr>
<tr><td>SIBATÉ</td></tr>
<tr><td>SAN BENITO CENTRO</td></tr>
<tr><td>CHACUA CENTRO</td></tr>
<tr><td>PERICO SECTOR LA HONDA</td></tr>
<tr><td>PERICO SECTOR LA MACARENA</td></tr>
<tr><td>SAN FORTUNATO SECTOR LOS ZORROS</td></tr>
<tr><td>SAN MIGUEL</td></tr>
<tr><td>LA UNIÓN SECTOR LA UNIÓN</td></tr>
<tr><td>LA UNIÓN SECTOR PIE DE ALTO</td></tr>
<tr><td>SAN BENITO SECTOR JAZMÍN</td></tr>
<tr><td>SILVANIA</td></tr>
<tr><td>AZAFRANAL</td></tr>
<tr><td>SUBIA</td></tr>
<tr><td>AGUA BONITA</td></tr>
<tr><td>SIMIJACA</td></tr>
<tr><td>EL RETÉN</td></tr>
<tr><td>SANTA LUCIA</td></tr>
<tr><td>SOACHA</td></tr>
<tr><td>CHARQUITO</td></tr>
<tr><td>CHACUA CABRERA</td></tr>
<tr><td>SOPÓ</td></tr>
<tr><td>HATOGRANDE</td></tr>
<tr><td>GRATAMIRA</td></tr>
<tr><td>MERCENARIO</td></tr>
<tr><td>LA DIANA</td></tr>
<tr><td>PUEBLO VIEJO SECTOR NIÑO</td></tr>
<tr><td>SUBACHOQUE</td></tr>
<tr><td>LA PRADERA</td></tr>
<tr><td>GALDAMEZ</td></tr>
<tr><td>CASCAJAL</td></tr>
<tr><td>LLANITOS</td></tr>
<tr><td>SUESCA</td></tr>
<tr><td>HATO GRANDE</td></tr>
<tr><td>SANTA ROSITA</td></tr>
<tr><td>CACICAZGO</td></tr>
<tr><td>SUPATÁ</td></tr>
<tr><td>LA MAGOLA</td></tr>
<tr><td>SUSA</td></tr>
<tr><td>SUTATAUSA</td></tr>
<tr><td>LAS PEÑAS</td></tr>
<tr><td>CHIRCAL DE SANTA BARBARA</td></tr>
<tr><td>LA QUINTA</td></tr>
<tr><td>TABIO</td></tr>
<tr><td>CARRÓN</td></tr>
<tr><td>EL PENCIL</td></tr>
<tr><td>PARCELACIÓN TERMALES</td></tr>
<tr><td>CHICÚ</td></tr>
<tr><td>EL BOTE</td></tr>
<tr><td>TERPEL</td></tr>
<tr><td>TAUSA</td></tr>
<tr><td>BOQUERÓN</td></tr>
<tr><td>DIVINO NIÑO</td></tr>
<tr><td>TENA</td></tr>
<tr><td>LA GRAN VÍA</td></tr>
<tr><td>TENJO</td></tr>
<tr><td>LA PUNTA</td></tr>
<tr><td>PAN DE AZÚCAR</td></tr>
<tr><td>EL PALMAR</td></tr>
<tr><td>GRATAMIRA</td></tr>
<tr><td>BARRIO LOS CATADI</td></tr>
<tr><td>CASCAJERA</td></tr>
<tr><td>LOS PINOS</td></tr>
<tr><td>JUAICA</td></tr>
<tr><td>ZOQUE</td></tr>
<tr><td>TIBACUY</td></tr>
<tr><td>BATEAS</td></tr>
<tr><td>CUMACA</td></tr>
<tr><td>TIBIRITA</td></tr>
<tr><td>TOCAIMA</td></tr>
<tr><td>PUBENZA</td></tr>
<tr><td>LA SALADA</td></tr>
<tr><td>LA COLORADA</td></tr>
<tr><td>TOCANCIPÁ</td></tr>
<tr><td>CHAUTA</td></tr>
<tr><td>DULCINEA</td></tr>
<tr><td>PELPAK</td></tr>
<tr><td>SAN JAVIER</td></tr>
<tr><td>TOLIMA - MILENION</td></tr>
<tr><td>LA FUENTE</td></tr>
<tr><td>CETINA</td></tr>
<tr><td>ANTONIA SANTOS</td></tr>
<tr><td>CHICALÁ</td></tr>
<tr><td>LAS QUINTAS</td></tr>
<tr><td>COLPAPEL</td></tr>
<tr><td>SAN VICTORINO</td></tr>
<tr><td>CAMINOS DE SIE</td></tr>
<tr><td>CHICO NORTE</td></tr>
<tr><td>BUENOS AIRES</td></tr>
<tr><td>EL PORVENIR</td></tr>
<tr><td>EL DIVINO NIÑO</td></tr>
<tr><td>LOS MANZANOS</td></tr>
<tr><td>TOPAIPÍ</td></tr>
<tr><td>SAN ANTONIO DE AGUILERA</td></tr>
<tr><td>EL NARANJAL</td></tr>
<tr><td>UBALÁ</td></tr>
<tr><td>LAGUNA AZUL</td></tr>
<tr><td>MÁMBITA</td></tr>
<tr><td>SAN PEDRO DE JAGUA</td></tr>
<tr><td>SANTA ROSA</td></tr>
<tr><td>LA PLAYA</td></tr>
<tr><td>SANTA BÁRBARA</td></tr>
<tr><td>UBAQUE</td></tr>
<tr><td>VILLA DE SAN DIEGO DE UBATÉ</td></tr>
<tr><td>GUATANCUY</td></tr>
<tr><td>VOLCÁN BAJO</td></tr>
<tr><td>SAN LUIS</td></tr>
<tr><td>PALOGORDO</td></tr>
<tr><td>CENTRO DEL LLANO</td></tr>
<tr><td>TAUSAVITA BAJO</td></tr>
<tr><td>TAUSAVITA ALTO</td></tr>
<tr><td>UNE</td></tr>
<tr><td>TIMASITA</td></tr>
<tr><td>ÚTICA</td></tr>
<tr><td>VERGARA</td></tr>
<tr><td>GUACAMAYAS</td></tr>
<tr><td>VILLA OLARTE</td></tr>
<tr><td>CERINZA</td></tr>
<tr><td>CORCEGA</td></tr>
<tr><td>VIANÍ</td></tr>
<tr><td>ALTO EL ROSARIO</td></tr>
<tr><td>VILLAGÓMEZ</td></tr>
<tr><td>VILLAPINZÓN</td></tr>
<tr><td>SOATAMA</td></tr>
<tr><td>VILLETA</td></tr>
<tr><td>BAGAZAL</td></tr>
<tr><td>EL PUENTE</td></tr>
<tr><td>VIOTÁ</td></tr>
<tr><td>SAN GABRIEL</td></tr>
<tr><td>EL PIÑAL</td></tr>
<tr><td>LIBERIA</td></tr>
<tr><td>YACOPÍ</td></tr>
<tr><td>GUADUALITO</td></tr>
<tr><td>IBAMA</td></tr>
<tr><td>LLANO MATEO</td></tr>
<tr><td>TERÁN</td></tr>
<tr><td>APOSENTOS</td></tr>
<tr><td>PATEVACA</td></tr>
<tr><td>EL CASTILLO</td></tr>
<tr><td>ZIPACÓN</td></tr>
<tr><td>EL OCASO</td></tr>
<tr><td>LA CAPILLA</td></tr>
<tr><td>LA ESTACIÓN</td></tr>
<tr><td>CARTAGENA</td></tr>
<tr><td>LA CABAÑA</td></tr>
<tr><td>ZIPAQUIRÁ</td></tr>
<tr><td>LA GRANJA</td></tr>
<tr><td>BARANDILLAS</td></tr>
<tr><td>RÍO FRÍO</td></tr>
<tr><td>PASOANCHO</td></tr>
<tr><td>SAN JORGE PALO BAJO</td></tr>
<tr><td>SAN JORGE PALO ALTO</td></tr>
<tr><td>ALTO DEL ÁGUILA</td></tr>
<tr><td>APOSENTOS ALTOS</td></tr>
<tr><td>BOLÍVAR 83</td></tr>
<tr><td>BOSQUES DE SILECIA</td></tr>
<tr><td>EL EMPALIZADO</td></tr>
<tr><td>EL RUDAL</td></tr>
<tr><td>LOTEO LA PAZ - BOMBA TERPEL - LOTEO SUSAGUÁ</td></tr>
<tr><td>LOTEO SANTA ISABEL</td></tr>
<tr><td>PORTACHUELO</td></tr>
<tr><td>SAN MIGUEL</td></tr>
<tr><td>SANTIAGO PÉREZ</td></tr>
<tr><td>LA MARIELA</td></tr>
<tr><td>EL CODITO</td></tr>
<tr><td>EL KIOSKO LA GRANJA</td></tr>
<tr><td>LA ESCUELA</td></tr>
<tr><td>ARGELIA</td></tr>
<tr><td>ARGELIA II</td></tr>
<tr><td>ARGELIA III</td></tr>

        </tbody>       
   
        

    </table>
    <div>
        <a class="btn"href="/biodiversidad">BIODIVERSIDAD</a>
      </div>
</body>
</html>
        
            